<h1>Showing Job Type Information</h1>
<table>
<tr>
	<td><strong>Type:</strong></td>
	<td><%= @job_type.type_name %></td>
</tr>

<tr>
	<td><strong>Description:</strong></td>
	<td><%= @job_type.type_description %></td>
</tr>
</table>
<%= link_to "Back", job_types_path %>
