<h1>showing employer information</h1>
<p>
	<strong>Name:</strong>
	<%= @job_type.type_name %>
</p>

<p>
	<strong>Description:</strong>
	<%= @job_type.type_description %>
</p>
<%= link_to "back", job_types_path %>