<h4>
	<% if current_user.employer %>
	<%= link_to 'update profile', employer_path(current_user.employer.id) %></br>
	<% end %>
	
	<%= link_to 'Post jobs', new_job_path %></br>
	<%= link_to 'posted_jobs', jobs_path %>
</h4>

<style>
	h4{
		color:blue;
	}
</style>