<h1>Employee Page</h1>

<h3>
<%= link_to "Manage Profile", employee_path(current_user.employee.id) %></br>
<%= link_to "All Jobs", jobs_path %></br>
<%= link_to "Applied Jobs", applied_jobs_path %>
</h3>
<style>
h1{
	color: #993333;
	text-align: center;
}
h3{
	color: #9900FF;
}
</style>