jobs for you....
<%= form_for @applied_job do |f| %>
<table>
	
	<tr>
		<td><%= f.hidden_field :employee_id, :value => current_user.employee.id %>
		</td>
	</tr>
	<%= f.submit "Submit" %>

</table>
<% end %>